@charset 'utf-8';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
.spoka * {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.spoka * {
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: middle;
    border: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.2px;
}


/* 공통영역 */

.wrap {
    width: 100%;
    height: 100%;
}

.inner {
    position: relative;
    display: block;
    /* margin: 0 auto; */
    max-width: 1200px;
}

.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}


/* 내용영역 */


/* 팝업 */


/* .popup {
    width: 1180px;
    height: 60px;
    width: 100%;
    background: url('../images/top_banner_new-2x.1c59418.png')no-repeat center;
    background-color: #e23000;
} */

.mb-top {
    position: relative;
    display: block;
    width: 1317px;
    height: 60px;
    width: 100vw;
    background: url('../images/top_banner_new-2x.1c59418.png')no-repeat center;
    background-size: cover;
    background-color: #e23000;
}


/* 헤더 */

.header {
    position: relative;
    display: block;
    width: 100%;
    background-color: #000;
    z-index: 999;
}

.header .inner {
    width: 100%;
    height: 130px;
}

.header .logo {
    position: absolute;
    transform: translateY(-50%);
    width: 129px;
    height: 48px;
    left: 0;
    top: 50%;
    display: block;
    background: url('../images/다운로드.svg')no-repeat center;
    background-size: contain;
    font-size: none;
    background-color: #000;
}

.gnb {
    position: absolute;
    display: block;
    left: 20%;
    top: 50%;
    width: 200px;
    height: 100px;
}

.gnb li {
    float: left;
    width: 50px;
    height: 18px;
    margin-left: 10px;
}

.gnb li>a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 12px;
}

.gnb .mainmenu-list {
    margin-right: -700px;
    float: right;
    right: -70px;
}

.gnb .mainmenu-2 {
    position: absolute;
    display: block;
    left: 200%;
    top: 0;
    width: 200px;
    height: 100px;
    transform: translateY(-50%)no-repeat center;
}

.gnb .mainmenu-2 li {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.gnb .mainmenu-2 li>a {
    position: absolute;
    display: block;
    font-size: 10px;
}


/*비주얼 */

.visual {
    position: absolute;
    display: block;
    width: 100%;
}

.visual .inner {}

.sw-visual {
    position: absolute;
    display: block;
    width: 100vw;
    height: 560px;
    background: url('../images/main_firstgift_logout.29ecc8b.png') no-repeat center;
    background-size: cover;
}


/* 이벤트 */

.event {
    position: absolute;
    display: block;
    width: 1184px;
    height: 181px;
    margin-left: 20px;
    margin-right: 20px;
}

.sw-visual {
    position: relative;
    display: block;
}

.sw-vs-1 {
    position: absolute;
    display: block;
    transform: translateY(50%);
    top: 500px;
    width: 576px;
    height: 176px;
    background: url('../images/202206_event_summer-pc-banner-2.png')no-repeat center;
    background-size: cover;
}

.event-right {
    position: absolute;
    display: block;
    top: 592px;
    width: 592px;
    height: 176px;
    transform: translateX(100%);
    background: url('../images/freshplan.9fe4775.png')no-repeat center;
    background-size: cover;
}

.swiper-pagination {
    position: relative;
    display: block;
}

.swiper-prev {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    transform: rotateY(-180deg);
    margin-left: 16px;
    opacity: 0.3;
    margin-top: 175px;
    background: url('../images/다운로드.svg')no-repeat center;
    background-size: cover;
}
.swiper-next {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    margin-top: 175px;
    background: url('../images/다운로드.svg')no-repeat center;
    background-size: cover;
}


/* .sw-vs-2 {
    position: relative;
    display: block;
    background: url('../images/202206_event_seafood-pc-banner.png')no-repeat center;
    background-size: cover;
}

.sw-vs-3 {
    position: relative;
    display: block;
    background: url('../images/2022.05_pricing_PC2202_05_pricing.png')no-repeat center;
    background-size: cover;
}

.sw-vs-4 {
    position: relative;
    display: block;
    background: url('../images/2021.11_quick_delivery_expansion_PC.png')no-repeat center;
    background-size: cover;
}

.sw-vs-5 {
    position: relative;
    display: block;
    background: url('../images/202201_event_review-pc-banner.png.png')no-repeat center;
    background-size: cover;
}

.sw-vs-6 {
    position: relative;
    display: block;
    background: url('../images/202202_event_applaunching-pc-banner.png')no-repeat center;
    background-size: cover;
}

.sw-vs-7 {
    position: relative;
    display: block;
    background: url('../images/baby-giftcube-mainbanner-pc.png')no-repeat center;
    background-size: cover;
}
 */


/* 상품 */

.good {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
}

.product {
    flex-basis: 40%;
    display: flex;
}

.product-bt {
    position: relative;
    display: flex;
    width: 1184px;
    height: 1154px;
    transform: translateY(55%);
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding-top: 30px;
}

h5 {
    position: relative;
    display: block;
    font-size: 32px;
    width: 840px;
    height: 36px;
    top: 850px;
    margin: -35px;
}

.product .pr-1 {
    position: relative;
    display: block;
    width: 276px;
    height: 276px;
    background: url('../images/porkbelly-fresh-list.png')no-repeat center;
    background-size: cover;
}

.product .pr-2 {
    position: relative;
    display: block;
    width: 276px;
    height: 276px;
    background: url('../images/chickef-cut-list.png')no-repeat center;
    background-size: cover;
}

.product .pr-3 {
    position: relative;
    display: block;
    width: 276px;
    height: 276px;
    background: url('../images/porkcutlet-sirloin-list.png')no-repeat center;
    background-size: cover;
}

.product .pr-4 {
    position: relative;
    display: block;
    width: 276px;
    height: 276px;
    background: url('../images/egg-fresh-list.png')no-repeat center;
    background-size: cover;
}

.product .pr-5 {
    position: relative;
    display: block;
    width: 276px;
    height: 276px;
    background: url('../images/milk-fresh-list.png')no-repeat center;
    background-size: cover;
}

.product .pr-6 {
    position: relative;
    display: block;
    width: 276px;
    height: 276px;
    background: url('../images/baby-hanuround-bmix-list.png')no-repeat center;
    background-size: cover;
}

h6 {
    position: relative;
    display: block;
    width: 376px;
    height: 27px;
    top: 270px;
    font-weight: 700;
    margin-top: 16px;
    font-size: 18px;
    color: #000;
    text-align: left;
    margin: 16px;
    margin-top: 16px;
}

p {
    position: relative;
    display: block;
    top: 270px;
    font-weight: 700;
    margin-top: 16px;
    font-size: 16px;
    color: #9b9b9b;
    text-align: left;
    margin: 16px;
    width: 376px;
    height: 24px;
}


/* 배너 */

.banner {
    position: relative;
    display: block;
    width: 100%;
    height: 2264px;
}

.banner .inner {}

.banner-img {
    position: relative;
    display: block;
    width: 100%;
    height: 208px;
    background: url('../images/banner_shop.96086e0.png') no-repeat center;
    background-size: contain;
    top: 1000px;
    margin-left: 300px;
}


/* 푸터 */

.footer {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-top: 1px solid #bdbdbd;
}

.footer-top {
    position: relative;
    display: block;
    width: 1184px;
    height: 40px;
    margin: 10px 23px;
    border-bottom: 1px solid #eee;
}

.footer-top li {
    width: 51px;
    height: 20px;
    font-size: 14px;
    white-space: nowrap;
    float: left;
    margin: 10px 23px;
}

.footer-bottom {
    position: relative;
    display: block;
    width: 100%;
    height: 176px;
    margin: 30px;
}

.footer-bottom li {
    position: relative;
    display: block;
}

.footer-bottom span {
    font-size: 13px;
    color: #212121;
    margin: 0px 0px 8px 0px;
}